* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
}

.row-2 {
    flex-direction: column;
}

.col-1,
.col-2,
.col-3 {
    flex: 1;

    padding: 10px;
    margin: 10px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

header {
    display: flex;
    align-items: center;

    width: 1200px;
    margin: 0 auto;
    padding: 20px;

    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;

    width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

main {
    display: flex;
    align-items: center;

    width: 1200px;
    margin: 0 auto;

    justify-content: center;
}

footer {
    display: flex;
    align-items: center;

    width: 1200px;
    margin: 0 auto;
}

.borde {
    border-bottom: solid 2px ;
}

.ajustar {
    display: flex;
    justify-content: space-between;
}

.ajustar-1 {
    display: flex;
    justify-content: space-evenly;
}

.ajuste {
    padding: 15px;
}

.alinear {
    display: flex;
    justify-content: center;
}

.alinear-2 {
    display: flex;
    align-items: center
}

.separar {
    display: flex;
    width: 1200px;
    justify-content: space-around;
}

.fon-1 {
    background-color: #9fc5f8;
    width: 1200px;
}

.fon-2 {
    background-color: #dddddd;
    width: 1200px;
    padding: 25px;
}

.fon-3 {
    background-color: #eeeeee;
    width: 300px;
}

.fon-4 {
    background-color: #095394;
    color: white;
    width: 1200px;
    padding: 15px;
}

.bot-1 {
    background-color: #095394;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.bot-2 {
    background-color: #9fc5f8;
    padding-left: 5px;
    padding-right: 5px;
}

.imag {
    width: 300px;
}

section a {
    text-decoration: none;
    color: black;
}